#galeria {
    background-color: var(--color-primary-100);
    padding: 2rem 0;
    h2 {
        color:var(--color-primary-700);
        margin-bottom: var(--spacing-large);
        text-transform: uppercase;
        text-align: center;
    }
}

.gallery-container {
    display: flex;
    height: 400px;
    cursor: grab;
    user-select: none;
    overflow: visible;

    .item, .clone {
        display: block;
        transition: 0.2s ease-in;
        margin: 0 var(--spacing-medium);
        flex-shrink: 0;
        height: 100%;
        width: auto;
        max-width: 70vw;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }

    .active {
        transform: scale(1.1);
        margin: 0 var(--spacing-large);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 10;
    }
}

.gallery-container:active {
    cursor: grabbing;
}

@media (max-width: 768px) {
    .gallery-container {
        height: 300px;
        margin: 0 var(--spacing-small);

        .item, .clone {
            max-width: 60vw;
        }

        .active {
            margin: 0 var(--spacing-medium);
        }
    }
}

@media (max-width: 480px) {
    .gallery-container {

        .item, .clone {
            max-width: 75vw;
        }
    }
}
