* {
    box-sizing: border-box;
}

:root {
    --color-background: rgb(245, 242, 242);
    --color-primary-100: rgb(206, 186, 171);
    --color-primary-200: rgb(196, 173, 157);
    --color-primary-300: rgb(181, 158, 142);
    --color-primary-400: rgb(167, 144, 127);
    --color-primary-500: rgb(152, 129, 112);
    --color-primary-600: rgb(137, 114, 97);
    --color-primary-700: rgb(122, 99, 82);

    --color-border: #C0C0C0;

    --color-text: #333333;
    --color-text-secondary: #555555;

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --spacing-section: 4rem;

    --radius-small: 4px;
    --radius-normal: 8px;
    --radius-large: 16px;

    --size-icon-small: 1rem;
    --size-icon-medium: 2rem;
    --size-icon-large: 3rem;

    --font-header: Constantia;
    --font-normal: Roboto;

    --shadow-normal: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --site-width: 60%;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 400vh;
}

section {
    margin: var(--spacing-section) 0;
}

h2 {
    font-family: var(--font-header);
}
